@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<BlogWebDemo.Models.News>

@{
    ViewData["Title"] = "QUẢN LÝ TIN TỨC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="News" asp-action="Index">QUẢN LÝ TIN TỨC</a></li>
    </ol>
    <h6 class="slim-pagetitle">QUẢN LÝ TIN TỨC</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Published</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        string url = $"/{item.Alias}.html";
                <tr>
                    <th scope="row">@item.PostId</th>
                    <td>
                        <a href="/@url">@item.Title</a>
                    </td>
                    <td>
                        <a href="/@item.Cat.Alias">@item.Cat.CatName</a>
                    </td>
                    <td>
                        @if (item.Published == true)
                        {
                            <span class="badge badge-primary">Public</span>
                        }
                        else
                        {
                            <span class="badge badge-primary">NON-Public</span>
                        }
                    </td>
                    <td>
                        <a href="@url" target="_blank" class=" btn btn-success">View</a>
                        <a asp-area="Admin" asp-controller="News" asp-action="Edit" asp-route-id="@item.PostId" class=" btn btn-primary">Edit</a>
                        <a asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-id="@item.PostId" class=" btn btn-danger">Delete</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
        <div aria-labe="Page navigation example">
            <ul class="pagination">
                <pager class="page-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model"
                       asp-area="Admin" asp-controller="News" asp-route-PostID="@ViewBag.CurrentCat" asp-action="Index" />
            </ul>
        </div>
    </div><!-- table-responsive -->
</div><!-- section-wrapper -->
